[mysqld]
character_set_server=utf8mb4
long_query_time=1800
lower_case_table_names=1
sql_mode=TRADITIONAL,ONLY_FULL_GROUP_BY,NO_AUTO_VALUE_ON_ZERO
collation_server=utf8mb4_bin
max_allowed_packet=1073741824

[client]
default-character-set=utf8mb4  